<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
    <sectionGroup name="mongodyn">
      <section
        name="mongo"
        type="MongoRepository.MongoSection, MongoRepository"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>
  <mongodyn>
    <mongo database="Testes" host="localhost" port="27017"/>
  </mongodyn>
</configuration>